<h1 style="text-align: center"> Ajouter un bénéficiaire </h1>

<div class="container" style="margin: 0 auto ">

    <div ng-if="ctrl.isSuccess" class="alert alert-success" role="alert">
        Bénéficiaire ajouté avec succès !
    </div>
    <div class="mb-3 col-4">
        <label  class="form-label">Iban</label>
        <input    ng-model="ctrl.iban" type="text" class="form-control" name="iban" required>
        <div class="invalid-feedback">
            Veuillez saisir un iban !
        </div>
    </div>

    <div class="mb-3 col-4">
        <label  class="form-label"> Nom </label>
        <input ng-model="ctrl.nom" type="text" class="form-control" name="nom" required>
        <div class="invalid-feedback">
            Veuillez saisir un nom !
        </div>
    </div>

    <div class="mb-3 col-4">
        <label  class="form-label">Prénom</label>
        <input ng-model="ctrl.prenom" type="text" class="form-control" name="prenom" required>
        <div class="invalid-feedback">
            Veuillez saisir un prenom !
        </div>
    </div>




    <button class="btn btn-primary" ng-click="ctrl.valider()">Envoyer</button>


</div>

<h1 style="text-align: center"> Mes bénéficiaires </h1>

<div class="container" style="margin: 0 auto ">
    <div class="list-group">

        <a href="" class="list-group-item list-group-item-action" aria-current="true" ng-repeat="beneficiaire in ctrl.beneficiaires track by $index">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" >Nom: {{beneficiaire.nom}}</h5>
            </div>
            <p class="mb-1">Prenom: {{beneficiaire.prenom}}</p>
            <small>IBAN: {{beneficiaire.iban}}</small>
        </a>

    </div>


</div>

