<h1 style="text-align: center"> Effectuer un virement </h1>

<div class="container" style="margin: 0 auto ">




    <div class="mb-3 col-4">
        <label  class="form-label">Selectionnez un compte</label>


        <select class="form-select" aria-label="Default select example" ng-model="ctrl.compte" >
            <option selected>Veuillez choisir un compte</option>
            <option value="compte" ng-repeat="compte in ctrl.comptes track by $index">{{compte.type}}</option>

        </select>
        <div class="invalid-feedback">
        Veuillez choisir un compte !
    </div>
    </div>


    <div class="mb-3 col-4">
        <label  class="form-label">Selectionnez un bénéficiaire</label>


        <select class="form-select" aria-label="Default select example" ng-model="ctrl.beneficiaire">
            <option selected>Veuillez choisir un bénéfciaire</option>
            <option value="beneficiaire" ng-repeat="beneficiaire in ctrl.beneficiaires track by $index">{{beneficiaire.nom}}</option>

        </select>
        <a href="#!/dashboard/beneficiaire"> Ajouter un nouveau bénéficiaire</a>
        <div class="invalid-feedback">
            Veuillez choisir un bénéficiaires !
        </div>
    </div>
        <div class="mb-3 col-4">
            <label  class="form-label">Montant</label>
            <div class="input-group mb-3">
                <span class="input-group-text">€</span>
                <input type="text" ng-model="ctrl.montant"  name="montant"class="form-control" aria-label="Amount (to the nearest dollar)">
            </div>
            <div class="invalid-feedback">
                Veuillez saisir un montant !
            </div>
        </div>

        <div class="mb-3 col-4">
            <label  class="form-label">Motif</label>
            <input ng-model="ctrl.motif" type="text" class="form-control" name="motif" required>
            <div class="invalid-feedback">
                Veuillez saisir un motif !
            </div>
        </div>




        <button class="btn btn-primary" ng-click="ctrl.valider()">Envoyer</button>


</div>

<h1 style="text-align: center"> Historique de virement </h1>

<div class="container" style="margin: 0 auto ">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Nom Beneficiaire</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Montant</p>
            <small>motif</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Nom Beneficiaire</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Montant</p>
            <small>motif</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Nom Beneficiaire</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Montant</p>
            <small>motif</small>
        </a>
    </div>


</div>